Repository shimming-toolbox/shimming-toolbox, pull requests merged in 2024-10, with the labels that each got.

#554 Fix test issues comming from incompatibility with fsl bet2
  docs/source/conf.py
  installer/install_conda.sh
  shimming-toolbox/setup.py
Labels: bug, Repo

#555 Ab/compute sig rec
  shimming-toolbox/shimmingtoolbox/cli/b0shim.py
  shimming-toolbox/shimmingtoolbox/shim/sequencer.py
  shimming-toolbox/test/shim/test_sequencer.py
Labels: bug, Package: Shimming Toolbox, st_b0shim

#556 Fix default dcm2bids config file not existing on Windows installation
  installer/install_shimming_toolbox.sh
  installer/windows_install.bat
  shimming-toolbox/MANIFEST.in
  shimming-toolbox/setup.py
  shimming-toolbox/shimmingtoolbox/__init__.py
  shimming-toolbox/shimmingtoolbox/config/custom_coil_constraints.json
  shimming-toolbox/shimmingtoolbox/config/dcm2bids.json
  shimming-toolbox/shimmingtoolbox/config/scanner_coil_constraints.json
  shimming-toolbox/test/cli/test_cli_check_env.py
Labels: bug, Package: Shimming Toolbox, st_dicom_to_nifti
