Repository shimming-toolbox/shimming-toolbox, pull requests merged in 2024-11, with the labels that each got.

#552 Update documentation configuration file to support ReadTheDocs addons migration
  docs/source/conf.py
Labels: documentation, Repo

#559 Update dcm2bids config file for Philips and output JSON sidecar for the calculated field maps
  shimming-toolbox/shimmingtoolbox/config/dcm2bids.json
  shimming-toolbox/shimmingtoolbox/shim/sequencer.py
Labels: enhancement, Package: Shimming Toolbox, st_b0shim, st_dicom_to_nifti

#562 Create a workflow to automate updating CHANGES.md
  .github/workflows/automate-changelog-PR.yml
  fsleyes-plugin-shimming-toolbox/fsleyes_plugin_shimming_toolbox/version.txt
  fsleyes-plugin-shimming-toolbox/setup.py
  shimming-toolbox/setup.py
  shimming-toolbox/shimmingtoolbox/version.txt
Labels: enhancement, Repo

#565 Update GitHub Actions to more recent versions
  .github/workflows/pre-commit.yml
  .github/workflows/tests.yml
Labels: testing, Repo

#551 Compute phase and magnitude images from real/imaginary data
  shimming-toolbox/shimmingtoolbox/cli/maths.py
  shimming-toolbox/test/cli/test_cli_maths.py
Labels: feature, Package: Shimming Toolbox, st_maths

#560 Allow the use of order 1 or 0 by themselves when using output format of 'gradient'
  shimming-toolbox/shimmingtoolbox/cli/b0shim.py
  shimming-toolbox/shimmingtoolbox/optimizer/lsq_optimizer.py
  shimming-toolbox/shimmingtoolbox/optimizer/optimizer_utils.py
  shimming-toolbox/shimmingtoolbox/shim/shim_utils.py
  shimming-toolbox/test/cli/test_cli_b0shim.py
Labels: enhancement, Package: Shimming Toolbox, st_b0shim

#509 Automatic mask creation for MRS shimming based on voxel position
  shimming-toolbox/setup.py
  shimming-toolbox/shimmingtoolbox/cli/mask.py
  shimming-toolbox/shimmingtoolbox/masking/mask_mrs.py
  shimming-toolbox/test/cli/test_cli_mask.py
Labels: feature, Package: Shimming Toolbox, st_download_data, st_mask
