Repository shimming-toolbox/shimming-toolbox, pull requests merged in 2025-07, with the labels that each got.

#618 Add unwrapping and filtering in 2D when field mapping
  shimming-toolbox/shimmingtoolbox/cli/prepare_fieldmap.py
  shimming-toolbox/shimmingtoolbox/prepare_fieldmap.py
  shimming-toolbox/shimmingtoolbox/unwrap/skimage_unwrap.py
  shimming-toolbox/shimmingtoolbox/unwrap/unwrap_phase.py
  shimming-toolbox/test/cli/test_cli_prepare_fieldmap.py
Labels: feature, Package: Shimming Toolbox, st_prepare_fieldmap

#614 NiftiFile class
  CHANGES.md
  docs/source/api_reference/api.rst
  docs/source/user_section/tutorials/b0_dynamic_shimming.rst
  examples/demo_realtime_shimming.sh
  examples/realtime_shimming.sh
  fsleyes-plugin-shimming-toolbox/fsleyes_plugin_shimming_toolbox/tabs/b0shim_tab.py
  fsleyes-plugin-shimming-toolbox/test/gui/test_b0shim_tab.py
  fsleyes-plugin-shimming-toolbox/test/gui/test_mask_tab.py
  shimming-toolbox/CHANGES.md
  shimming-toolbox/setup.py
  shimming-toolbox/shimmingtoolbox/cli/b0shim.py
  shimming-toolbox/shimmingtoolbox/cli/b1shim.py
  shimming-toolbox/shimmingtoolbox/cli/realtime_shim.py
  shimming-toolbox/shimmingtoolbox/files/NiftiFieldMap.py
  shimming-toolbox/shimmingtoolbox/files/NiftiFile.py
  shimming-toolbox/shimmingtoolbox/files/NiftiMask.py
  shimming-toolbox/shimmingtoolbox/files/NiftiTarget.py
  shimming-toolbox/shimmingtoolbox/files/__init__.py
  shimming-toolbox/shimmingtoolbox/load_nifti.py
  shimming-toolbox/shimmingtoolbox/prepare_fieldmap.py
  shimming-toolbox/shimmingtoolbox/shim/realtime_shim.py
  shimming-toolbox/shimmingtoolbox/shim/sequencer.py
  shimming-toolbox/shimmingtoolbox/shim/shim_utils.py
  shimming-toolbox/test/cli/test_cli_b0shim.py
  shimming-toolbox/test/cli/test_cli_image.py
  shimming-toolbox/test/cli/test_cli_realtime_shim.py
  shimming-toolbox/test/files/test_NiftiFieldMap.py
  shimming-toolbox/test/files/test_NiftiFile.py
  shimming-toolbox/test/files/test_NiftiMask.py
  shimming-toolbox/test/files/test_NiftiTarget.py
  shimming-toolbox/test/masking/test_mask_utils.py
  shimming-toolbox/test/optimizer/test_optimizer.py
  shimming-toolbox/test/shim/test_realtime_shim.py
  shimming-toolbox/test/shim/test_sequencer.py
  shimming-toolbox/test/test_coordinates.py
  shimming-toolbox/test/test_image.py
  shimming-toolbox/test/test_load_nifti.py
  shimming-toolbox/test/test_pmu.py
Labels: enhancement, refactoring, Package: Shimming Toolbox, st_b0shim

#611 Output an updated constraint file after performing a volume shim
  shimming-toolbox/shimmingtoolbox/cli/b0shim.py
  shimming-toolbox/shimmingtoolbox/config/dcm2bids.json
  shimming-toolbox/shimmingtoolbox/shim/sequencer.py
  shimming-toolbox/test/cli/test_cli_b0shim.py
Labels: feature, Package: Shimming Toolbox, st_b0shim

#622 Add Windows testing
  .github/workflows/tests.yml
  docs/source/user_section/installation/install_on_mac_and_linux.rst
  docs/source/user_section/installation/install_on_windows.rst
  installer/windows_install.bat
  shimming-toolbox/shimmingtoolbox/dicom_to_nifti.py
  shimming-toolbox/test/cli/test_cli_b0shim.py
  shimming-toolbox/test/files/test_NiftiMask.py
  shimming-toolbox/test/files/test_NiftiTarget.py
Labels: installation, CI, Repo
