Repository shimming-toolbox/shimming-toolbox, pull requests merged in 2025-02, with the labels that each got.

#571 Add the ability to set the current shim coefficient values as inputs in the constraint file
  fsleyes-plugin-shimming-toolbox/test/gui/test_b0shim_tab.py
  shimming-toolbox/shimmingtoolbox/cli/b0shim.py
  shimming-toolbox/shimmingtoolbox/coils/coil.py
  shimming-toolbox/shimmingtoolbox/config/custom_coil_constraints.json
  shimming-toolbox/shimmingtoolbox/config/dcm2bids.json
  shimming-toolbox/shimmingtoolbox/config/scanner_coil_constraints.json
  shimming-toolbox/shimmingtoolbox/optimizer/basic_optimizer.py
  shimming-toolbox/shimmingtoolbox/shim/sequencer.py
  shimming-toolbox/shimmingtoolbox/shim/shim_utils.py
  shimming-toolbox/test/cli/test_cli_b0shim.py
  shimming-toolbox/test/test_coil.py
Labels: enhancement, Package: Shimming Toolbox, st_b0shim

#576 Update tutorials
  examples/demo_b1_shimming.sh
  examples/demo_realtime_shimming.sh
  shimming-toolbox/shimmingtoolbox/cli/download_data.py
  shimming-toolbox/shimmingtoolbox/config/dcm2bids.json
Labels: bug, Package: Shimming Toolbox

#578 Prerelease fixes
  shimming-toolbox/shimmingtoolbox/cli/b0shim.py
  shimming-toolbox/shimmingtoolbox/shim/sequencer.py
Labels: bug, st_b0shim

#579 Remove runner ubuntu-20.04
  .github/workflows/tests.yml
Labels: testing, Repo

#582 Update BIDS config file
  shimming-toolbox/shimmingtoolbox/config/dcm2bids.json
  shimming-toolbox/shimmingtoolbox/dicom_to_nifti.py
Labels: enhancement, Package: Shimming Toolbox, st_dicom_to_nifti

#583 Add ability to compute magnitude and phase data from complex NIfTIs
  shimming-toolbox/shimmingtoolbox/cli/maths.py
  shimming-toolbox/test/cli/test_cli_maths.py
Labels: enhancement, Package: Shimming Toolbox, st_maths

#584 Update B1 tutorial
  docs/source/user_section/tutorials/b1_shimming.rst
Labels: enhancement, Repo

#587 Add single file output for real-time shimming (chronological-coil/slicewise-coil)
  shimming-toolbox/shimmingtoolbox/cli/b0shim.py
  shimming-toolbox/test/cli/test_cli_b0shim.py
Labels: enhancement, Package: Shimming Toolbox, st_b0shim
