Repository shimming-toolbox/shimming-toolbox, pull requests merged in 2025-06, with the labels that each got.

#606 Update dcm2niix to v1.0.20250506
  installer/install_shimming_toolbox.sh
  shimming-toolbox/requirements_st.txt
Labels: installation, Package: Shimming Toolbox

#612 Add division and standard deviation calculation to st_maths
  shimming-toolbox/shimmingtoolbox/cli/maths.py
  shimming-toolbox/test/cli/test_cli_maths.py
Labels: feature, Package: Shimming Toolbox, st_maths

#586 Gradient output
  fsleyes-plugin-shimming-toolbox/fsleyes_plugin_shimming_toolbox/tabs/b0shim_tab.py
  shimming-toolbox/shimmingtoolbox/cli/b0shim.py
  shimming-toolbox/shimmingtoolbox/coils/coil.py
  shimming-toolbox/shimmingtoolbox/coils/spher_harm_basis.py
  shimming-toolbox/shimmingtoolbox/config/dcm2bids.json
  shimming-toolbox/shimmingtoolbox/config/scanner_coil_constraints.json
  shimming-toolbox/shimmingtoolbox/pmu.py
  shimming-toolbox/shimmingtoolbox/shim/sequencer.py
  shimming-toolbox/shimmingtoolbox/shim/shim_utils.py
  shimming-toolbox/test/cli/test_cli_b0shim.py
Labels: enhancement, Package: Shimming Toolbox, st_b0shim
