Repository shimming-toolbox/shimming-toolbox, pull requests merged in 2025-03, with the labels that each got.

#585 add requirement.txt to setup files in preparation for release automa…
  .github/workflows/release.yml
  .github/workflows/tests.yml
  fsleyes-plugin-shimming-toolbox/requirements_stplugin.txt
  fsleyes-plugin-shimming-toolbox/setup.py
  shimming-toolbox/requirements_st.txt
  shimming-toolbox/setup.py
Labels: installation, Package: Plugin, Package: Shimming Toolbox

#592 Update README.rst
  README.rst
Labels: documentation, Repo

#591 Add 4th dimensions if coil profiles have 1 channel
  shimming-toolbox/shimmingtoolbox/cli/b0shim.py
Labels: enhancement, Package: Shimming Toolbox, st_b0shim

#596 Create output directory if it does not exist in st_maths mean
  shimming-toolbox/shimmingtoolbox/cli/maths.py
Labels: enhancement, Package: Shimming Toolbox, st_maths

#595 Add fix when dicom files have the same name
  shimming-toolbox/shimmingtoolbox/cli/sort_dicoms.py
  shimming-toolbox/test/cli/test_cli_sort_dicoms.py
Labels: bug, Package: Shimming Toolbox, st_sort_dicoms
